body {
  margin: 0;
  padding: 0;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCN5hOVLzUVYhaZ00HNUwDIlPehoauv29g6g&s');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
