.navbar {
  background-color: #255687;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  position: relative;
}

.navbar h1 {
  color: #eaecee; /* Dark color for visibility */
  font-size: 1.8rem;
  margin: 0;
  text-align: center;
}


.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 1rem;
}

.logout-button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.logout-button:hover {
  background-color: #c0392b;
}
